# <center><font size=6> Assignment: Titanic Kaggle Competition</font></center>
<center><font size=3><i>By Jiye Lyu</i></font></center>  
<center><font size=3><i>03/14/2021</i></font></center>

---

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import random as r

In [2]:
data = pd.read_csv("titanic.csv")

In [3]:
data = data.drop(['Name'], axis=1)
data.head(5)

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500

In [4]:
data = pd.get_dummies(data)
data.head(5)

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Sex_female,Sex_male
0,0,3,22.0,1,0,7.2500,0,1
1,1,1,38.0,1,0,71.2833,1,0
2,1,3,26.0,0,0,7.9250,1,0
3,1,1,35.0,1,0,53.1000,1,0
4,0,3,35.0,0,0,8.0500,0,1

In [5]:
survived = data.Survived
variables = data.iloc[:,1:]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(variables,
                                                        survived,
                                                        test_size=0.3,
                                                        random_state=r.randint(1, 100)
                                                        )

In [7]:
y_test

657    1
491    0
195    0
376    0
178    0
      ..
456    0
175    0
94     0
246    1
17     1
Name: Survived, Length: 267, dtype: int64

# Model 1 NaivGaussian

In [8]:
from sklearn.naive_bayes import GaussianNB

In [9]:
gnb = GaussianNB()
model = gnb.fit(X_train, y_train)
y_pred1 = model.predict(X_test)
Accuracy_Score1 = sum(y_pred1 == y_test)/len(y_pred1)

print("Accuracy_Score is ",Accuracy_Score1)

Accuracy_Score is  0.8202247191011236

# Model 2 KNN

In [10]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

## StandardScaler

In [11]:
standarScaler = StandardScaler()
standarScaler.fit(X_train)

X_train_std = standarScaler.transform(X_train)
X_test_std = standarScaler.transform(X_test)

In [12]:
acc_sum=[]
for i in range(len(X_train)):
    knn = KNeighborsClassifier(n_neighbors= i+1 )
    knn.fit(X_train_std,y_train)

    y_pred = knn.predict(X_test_std)
    acc = sum(y_pred == y_test)/len(y_pred)
    acc_sum.append(acc)

In [13]:
max_index = acc_sum.index(max(acc_sum, key = abs))
print("K is ",max_index + 1, "Accuracy_Score is ",acc_sum[max_index])

K is  6 Accuracy_Score is  0.8314606741573034

# Model 3 RandomForest

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
RandomForest = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
RandomForest.fit(X_train_std, y_train)
y_pred = RandomForest.predict(X_test_std)
Accuracy_Score = sum(y_pred == y_test)/len(y_pred)

print("Accuracy_Score is ",Accuracy_Score)

Accuracy_Score is  0.8352059925093633